:root {
    --primary: #00585e;
    --secondary: #333;
    --background: #999;
    --white: #fff;
    --danger: rgb(158, 11, 11);
}

body {
    font-family: "Montserrat", sans-serif;
}

button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* Linha de Venda */
.tabela-opcoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.botao-ver-itens-venda {
    color: var(--primary);
    cursor: pointer;
}

.botao-editar-venda {
    color: var(--primary);
    cursor: pointer;
}

.botao-excluir {
    color: var(--danger);
    cursor: pointer;
}

/* Tabela de Vendas */

table {
    border-collapse: collapse;
    width: 95%;
    border: 1px solid #e0e0e0;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
.thead-custom {
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #333;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.header-pagina {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #00585e;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.botao-header {
    background-color: var(--primary);
    color: #f0f0f0;
    border-radius: 5px;
    padding: 0px 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Editar Venda */
.conteudo-pagina-editar-venda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--white);
    height: 500px;
}
.botao-padrao-venda {
    background-color: var(--primary);
    color: #f0f0f0;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* Aba Produtos */
.aba-produtos {
    width: 60%;
}

.grupo-inputs-produto {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.input-produto input,
.input-produto select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.tabela-produtos-venda {
    color: var(--secondary);
}

/* Aba Dados */
.aba-dados {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 20%;
    padding-left: 50px;
    border-left: 1px solid var(--secondary);
}

.input-dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.input-dados input,
.input-dados select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.input-dados label {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.valor-total-venda {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botoes-confirmacao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
