body {
  font-family: Arial, sans-serif;
}

.cabecalho {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  background-color: #00585e;
  color: #f0f0f0;
}

.linha-tabela {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  background-color: #f0f0f0;
}

.header-pagina {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #00585e;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.botao-header {
  background-color: #00585e;
  color: #f0f0f0;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
