.tabela-comissoes {
  width: 100%;
  border-collapse: collapse;
}

.tabela-comissoes th,
.tabela-comissoes td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-comissoes td {
  background-color: #f0f0f0;
}

.tabela-comissoes tfoot {
  font-weight: bold;
}

.filtro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

input[type="date"] {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

input[type="date"]::placeholder {
  color: #999;
}

input[type="date"]::-webkit-datetime-edit-text {
  color: #333;
}

.cabecalho-tabela {
  background-color: #00585e;
  color: #f0f0f0;
}
