table {
    border-collapse: collapse;
    width: 95%;
    border: 1px solid #e0e0e0;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
.thead-custom {
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #333;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tfoot {
  font-weight: bold;
}

.filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

input[type="date"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

input[type="date"]::placeholder {
    color: #999;
}

input[type="date"]::-webkit-datetime-edit-text {
    color: #333;
}
